name: Simple EC2 Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Copy source to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          source: .
          target: /var/www/blog-ott-news-typescript-api-hub
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /var/www/blog-ott-news-typescript-api-hub
            git pull origin main
            pm2 restart all
            pm2 start ecosystem.config.js --env production
            pm2 start all
            pm2 start "prod-api-server"
            pm2 save
            pm2 startup
            echo "Deployment completed."
